<table>
  <tbody>
    <tr>
      <th>Mailchimp API Key</th>
      <td><input type="text" id="mailchimp_api_key" 
                     value="<%= settings['mailchimp_api_key'] %>" 
             name="settings[mailchimp_api_key]" >
    </tr>
    <tr>
      <th>Mailchimp List ID</th>
      <td><input type="text" id="mailchimp_list_id" 
                     value="<%= settings['mailchimp_list_id'] %>" 
             name="settings[mailchimp_list_id]" >
    </tr>
  </tbody>
</table>